@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Vazirmatn', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #1a1e2e;
  color: #f0f0f0;
  text-align: center;
  overflow-x: hidden;
}

header {
  padding: 1rem 0;
  background: linear-gradient(90deg, #2b2e6f, #623ea8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 120px;
  margin-left: 1rem;
}

main {
  margin: 2rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  max-width: 600px;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

input[type=file],
select,
button {
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #aaa;
  transition: 0.3s;
}

input[type=file],
select {
  background-color: #312f49;
  color: #fff;
  border: 1px solid #a17fd5;
}

select:focus,
input:focus {
  border-color: #5db0ff;
  outline: none;
}

button {
  background-color: #623ea8;
  /* background-color: #5db0ff; */
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4e2c88;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  text-align: right;
}

.row label {
  flex: 1;
  padding-right: 1rem;
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
}

.row select {
  flex: 2;
}

#status {
  margin-top: 1rem;
  font-weight: bold;
}

#download {
  display: inline-block;
  margin-top: 1rem;
  color: #b79fff;
  text-decoration: none;
  font-weight: bold;
}

#download:hover {
  text-decoration: underline;
}

.bg-graph {
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  z-index: 0;
  background-image: 
    linear-gradient(135deg, rgba(255,255,255,0.06) 1px, transparent 1px),
    linear-gradient(225deg, rgba(255,255,255,0.06) 1px, transparent 1px),
    radial-gradient(circle at 25% 25%, rgba(255,255,255,0.03), transparent 40%),
    radial-gradient(circle at 75% 75%, rgba(255,255,255,0.03), transparent 40%);
  background-size: 40px 40px, 40px 40px, 200px 200px, 200px 200px;
  animation: moveBackground 40s linear infinite;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes moveBackground {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-30%, -30%); }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 0;
}
